@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: DIN Next;
    src: url(../public/fonts/DIN_Next/DINNextW1G-Medium.otf);
}
html,
body {
    padding: 0;
  margin: 0;
    font-family: "DIN Next", sans-serif;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    
}

.hero {
    height: calc(100vh);
}

.homeMarq {
    background-color: white;

    span {
        background: linear-gradient(90deg, rgba(77, 82, 60, 1), rgba(133, 141, 103, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 120px;
    }
}

.productSlider {
    height: 50vh;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }

    .swiper-button-next {
        border-width: 2rem;
        border-radius: 15rem;
        background-color: red;
        color: black;

    }

    .swiper-button-prev {
        border-width: 2rem;
        border-radius: 15rem;
        background-color: red;
        color: black;

    }

}

.HomePart_1 {
    height: 70vh;
    padding: 20px;

    .Himage {
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 300px;
        text-align: center;
    }

    .homepartP {
        font-family: "Roboto";
    }


}

.HomePart_2 {
    height: 50vh;
}

.greenbann {
    height: 100vh;
    background: linear-gradient(90deg, rgba(77, 82, 60, 1), rgba(133, 141, 103, 1) 100%) !important;
}

.greenbann1 {
    height: 50vh;
}

.greenbann2 {
    height: 50vh;

    hr {

        border: none;
        border-left: 1px solid hsla(200, 10%, 50%, 100);
        height: 25vh;
        width: 1px;
        position: relative;
        top: 100px;
    }
}

.HomeTestimonial {
    height: 40vh;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 300 !important;
        height: 62 !important;
        object-fit: cover;
    }

}

.Twoimage {
    height: 100vh;

    .swiper-button-prev {
        position: relative !important;
        bottom: 0 !important;
        left: 81px !important;
        background: grey;
        border-radius: 5rem;
        width: 4rem;
        size: 15px !important;
        height: 62px;
    }

    .swiper-button-next {
        position: relative !important;
        bottom: 40px !important;
        left: 147px !important;
        background: grey;
        border-radius: 5rem;
        width: 4rem;
        size: 15px !important;
        height: 62px;
    }
}

.ProductSec {
    height: 80vh;
    .right{
        .Rightover{
            overflow-x: auto;
        }
    }
}

.StorySec {
    .swiper {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
    }


    .swiper .swiper-slide img {
        width: 668px;
        height: 668px;
        border-radius: 2rem;
    }

    .swiper-button-prev {
        position: relative;
        left: 1369px;
        bottom: -21px;
    }

    .swiper-button-next {
        position: relative;
        left: 1433px;
        bottom: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 3px;
        left: -97px;
        width: 96%;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 1px var(--swiper-pagination-bullet-horizontal-gap, 117px);
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 28px;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        background-color: rgb(224, 224, 224);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 2rem;
        color: rgb(75, 75, 75);
    }

}

.QuestionSEc {
    height: 80vh;
}

.discountSec {
    height: 20vh;
}
.navbar-toggler{
    pointer-events: all;
}